.feedback{
    text-align: center;
}
.button{
    display: flex;
    margin:auto;
    width: 10%;
}

.radio{
    display: flex;
    text-align: center;
    margin:auto;
}
.description{
    height: 200px;
}

.tex{
    height: 200px;
}