<ion-header>
  <ion-toolbar>
    <ion-title class="feedback">Phản hồi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-radio-group class="radio" value="a">
            <ion-item>
              <ion-label>Sự cố</ion-label>
              <ion-radio slot="start" value="suco"></ion-radio>

              <ion-item>
                <ion-label>Hư hỏng</ion-label>
                <ion-radio slot="start" value="huhong"></ion-radio>
              </ion-item>

              <ion-item >
                <ion-label>Khác</ion-label>
                <ion-radio slot="start" value="khac"></ion-radio>
              </ion-item> 

            </ion-item>
        </ion-radio-group>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Nội dung</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card class="description">
    <ion-item >
      <ion-label class="tex" position="floating">Mô tả</ion-label>
      <ion-textarea ></ion-textarea>
    </ion-item>
  </ion-card>
    <ion-button class="button" color="success" >Gửi</ion-button>
  
</ion-content>