<ion-header>
  <ion-toolbar>
    <ion-title class="job-list">Phòng cần dọn dẹp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            P101
          </ion-col>
          <ion-col>
            <ion-icon color="medium" name="logo-tableau"></ion-icon>
            Chưa dọn dẹp
          </ion-col>
          <ion-col>
            <ion-icon color="medium" name="checkmark-done-outline"></ion-icon>
            Chưa kiểm tra
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Tầng 1
          </ion-col>
          <ion-col >
            <ion-icon name="people-outline"></ion-icon>
            Phòng trống
          </ion-col>
          <ion-col>
            <ion-button size="small" color="light">
              <ion-icon name="notifications-outline"></ion-icon>
              Thông báo cho khách hàng
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col >
            Thời gian bắt đầu: 9:30 AM
          </ion-col>
          <ion-col>
            Thời gian kết thúc: 10:30 AM
          </ion-col>
          <ion-col>           
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            P101
          </ion-col>
          <ion-col>
            <ion-icon color="medium" name="logo-tableau"></ion-icon>
            Chưa dọn dẹp
          </ion-col>
          <ion-col>
            <ion-icon color="medium" name="checkmark-done-outline"></ion-icon>
            Chưa kiểm tra
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Tầng 1
          </ion-col>
          <ion-col >
            <ion-icon color="success" name="people-outline"></ion-icon>
            Khách trong phòng
          </ion-col>
          <ion-col>
            <ion-button size="small" color="light">
              <ion-icon name="notifications-outline"></ion-icon>
              Thông báo cho khách hàng
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col >
            Thời gian bắt đầu: 9:30 AM
          </ion-col>
          <ion-col>
            Thời gian kết thúc: 10:30 AM
          </ion-col>
          <ion-col>           
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            P101
          </ion-col>
          <ion-col>
            <ion-icon color="medium" name="logo-tableau"></ion-icon>
            Chưa dọn dẹp
          </ion-col>
          <ion-col>
            <ion-icon color="medium" name="checkmark-done-outline"></ion-icon>
            Chưa kiểm tra
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Tầng 1
          </ion-col>
          <ion-col >
            <ion-icon color="danger" name="people-outline"></ion-icon>
            Khách ra ngoài
          </ion-col>
          <ion-col>
            <ion-button size="small" color="light">
              <ion-icon name="notifications-outline"></ion-icon>
              Thông báo cho khách hàng
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col >
            Thời gian bắt đầu: 9:30 AM
          </ion-col>
          <ion-col>
            Thời gian kết thúc: 10:30 AM
          </ion-col>
          <ion-col>           
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>