<ion-header>
  <ion-toolbar>
    <ion-title>employee-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-col>
          <ion-col>
            s4dh7d - Nguyễn Thị Nhung
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col >
            Đã được phân công
            <ion-badge color="medium">4</ion-badge>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-col>
          <ion-col>
            s4dh7d - Nguyễn Thị Nhung
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col >
            Đã được phân công
            <ion-badge color="medium">4</ion-badge>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-col>
          <ion-col>
            s4dh7d - Nguyễn Thị Nhung
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col >
            Đã được phân công
            <ion-badge color="medium">4</ion-badge>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
