<ion-header>
  <ion-toolbar>
    <ion-title>Khách sạn Cherry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
  </ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            Ngày kiểm tra: 11/01/2020
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
           Tầng 1
          </ion-col>
          <ion-col>
            <p class="room">P101</p>
          </ion-col>
          <ion-col>
            Thời gian bắt đầu: 9:30 AM
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            Thời gian kết thúc: 10:30 AM
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content>
    <p> Danh sách cần dọn dẹp</p>
    <ion-list>
      <ion-item *ngFor="let entry of form">
        <ion-label>{{entry.name}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
    <p> Đánh giá chất lượng dọn dẹp </p>
    </ion-card-content>
    <ion-card>
      <ion-button>
        Hoàn tất
      </ion-button>
      <ion-button>
        <ion-icon name="add-circle-sharp"></ion-icon>
      </ion-button>
    </ion-card>
    
</ion-content>