<ion-header>
  <ion-toolbar>
    <ion-title class="notify">Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Bạn đã được phân công dọn dẹp tại:
      <br>
      P101 Tầng 1
      <br>
      HL102 Tầng 1
      <br>
      Bạn được phân công kiểm tra tại:
      <br>
      P301 Tầng 3
      <br>
      Chú ý dọn dẹp và kiểm tra khu vực đã được phân công.

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Việc dọn dẹp tại phòng tắm chưa được sạch sẽ, tiến hành dọn dẹp lại.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     Người kiểm tra đã đánh giá 3 sao cho bạn
    </ion-card-content>
  </ion-card>
</ion-content>